.body{
    border: 2px solid;
}
.field{
    background-color: rgba(30, 199, 255, 0.681);
    height: 1000px;
}
.field:hover .bat {
    transform: rotate(-60deg);
    transform-origin: top right;
    transition: transform 0.2s ease-in;
}
.ball{
    width: 90px;
    position: relative;
    left: 140px;
    bottom: -100px;
    transition: transform 2s ease-out 0.2s;
}
.field:hover .ball{
    transform: translate(140px, -250px);
}